/*
style.css
@author	Cyrille Benoit (cyrillebenoitpro@gmail.com)
@copyright	© OpenRobotics, 2016
*/

.HADTimestamp {
	font-size: 11;
	font-weight: 900;
}

.HADTitle {
	position: center;
	font-size: 14;
}

.HADBody {
	position: center;
	font-size: 11;
}
