/**
 * Feuille de style CSS pour la page NewsFeed du site OpenRobotics.io
 * @author	Cyrille Benoit (cyrillebenoitpro@gmail.com)
 * @copyright	© OpenRobotics, 2016
 */

/**
 * Ensemble des deux colonnes
 */
#conteneur {
	/*width:80%;*/
	margin-top:20px; 
	margin-left:20px; 
	margin-right:20px; 
	padding-bottom:25px; 
	/*background-image:url(images/fond.jpg);*/
	padding-top:5px;
}

/**
 * Bas du conteneur
 */
#bas {
	clear: both;
}

/**
 * Ensemble des logs provenant de Hackaday
 */
#HADFeed { 
	width:45%; 
	height:80%; 
	background-color:#0033CC; 
	float:left;
}

/**
 * Ensemble des tweets à afficher
 */
#TwitterFeed {
	width:45%; 
	height:80%; 
	background-color:#0033CC; 
	float:right;
}

/**
 * Désigne un seul log de la liste
 */
.logHAD {

}

/**
 * Désigne un seul tweet de la liste
 */
.Tweet {

}

/**
 * Date du log HAD
 */
.HADTimestamp {
	font-size: 11;
	font-weight: 900;
}

/**
 * Titre du log HAD
 */
.HADTitle {

}

/**
 * Corps du log HAD
 */
.HADBody {

}

/**
 * Photo de l'utilisateur Twitter
 */
.TwitterPicture {

}

/**
 * Corps du tweet
 */
.TwitterBody {

}

/**
 * Lien vers le tweet
 */
.TweetLink {

}

/**
 * Lien vers le log HAD
 */
.HADLogLink {

}

/**
 * Logo Twitter
 */
#TwitterHead {
	text-align: center;
}

/**
 * Logo HAD
 */
#HADHead {
	text-align: center;
}